on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - 27.2
          - 28.1
          - snapshot

    steps:
    - uses: actions/checkout@v3
    - name: Set up Emacs
      uses: purcell/setup-emacs@v3.0
      with:
        version: ${{ matrix.emacs_version }}

    - name: Test
      run: |
        bin/setup
        bin/test

  docs:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - uses: purcell/setup-emacs@v3.0
        with:
          version: 28.1
      - name: Generate documentation
        run: |
          bin/setup
          echo " Test Doc generation..."
          bin/docs
          echo "════════════════════════════════════════════════════════════════════════════════"
